@page "/"

<PageTitle>Home</PageTitle>

<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f4f4f4;
		}

		.menu-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding: 50px;
		}

		.menu-card {
			background-color: #fff;
			width: 220px;
			height: 230px;
			margin: 20px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			transition: transform 0.3s, box-shadow 0.3s;
			cursor: pointer;
			text-align: center;
			padding-top: 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.menu-card:hover {
			transform: scale(1.05);
			box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
		}

		.menu-card h3 {
			text-align: center;
			margin: 0;
			color: #333;
			font-size: 50px;
		}

		.menu-card p {
			color: #777;
			font-size: 14px;
			margin-bottom: 20px;
		}
</style>

<h1>BackOffice Management Page</h1>

Welcome to Our BackOfficePage.

<div class="menu-container">
	<NavLink class="menu-card nav-link" href="dev">
		<h3>Dev</h3>
		<p>Services available for Dev environment</p>
	</NavLink>

	<NavLink class="menu-card nav-link" href="qua">
		<h3>Qua</h3>
		<p>Services available for Qua environment</p>
	</NavLink>

	<NavLink class="menu-card nav-link" href="prd">
		<h3>Prd</h3>
		<p>Services available for Prd environment</p>
	</NavLink>
</div>




